/* common */
*body {
    font-family: 'Noto Sans KR', sans-serif !important;
}
section {
    width: 100%;
    padding-bottom: 10%;
}
section > .contents, footer > .contents, header > .contents {
    width: 80%;
    margin: 0 auto;
}
.more-btn {
    display: block;
    margin: 0 auto;
    width: 150px;
    height: 45px;
    font-size: 0.9rem;
    text-align: center;
    line-height: 45px;
    border-radius: 38px;
    color: #fff;
    background-color: #16a085;
    font-weight: 700;
}
.more-btn:hover {
    border: 2px solid #16a085;
    background-color: transparent;
}
.top {
    padding-top: 10%;
    padding-bottom: 10%;
}
.top h2 {
    font-size: 1.6rem;
    text-align: center;
    font-weight: 900;
}
.top p {
    line-height: 1.9;
    color: #909090;
    margin-top: 20px;
    text-align: center;
    font-size: 1rem;
    font-weight: 600;
}
/* loading */
#loading {
    display: block;
    background-color: rgba(0, 0, 0, 0.68);
    position: fixed;
    z-index: 999;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
}
.spinner {
    position: fixed;
    z-index: 9999;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}
.spinner::after {
    content: "";
    display: block;
    color: #16a085;
    font-size: 90px;
    text-indent: -9999em;
    overflow: hidden;
    width: 1em;
    height: 1em;
    border-radius: 50%;
    margin: 72px auto;
    position: relative;
    -webkit-transform: translateZ(0);
    -ms-transform: translateZ(0);
    transform: translateZ(0);
    -webkit-animation: load6 1.7s infinite ease, round 1.7s infinite ease;
    animation: load6 1.7s infinite ease, round 1.7s infinite ease;
}
  
  @-webkit-keyframes load6 {
    0% {
      box-shadow: 0 -0.83em 0 -0.4em, 0 -0.83em 0 -0.42em, 0 -0.83em 0 -0.44em, 0 -0.83em 0 -0.46em, 0 -0.83em 0 -0.477em;
    }
    5%,
    95% {
      box-shadow: 0 -0.83em 0 -0.4em, 0 -0.83em 0 -0.42em, 0 -0.83em 0 -0.44em, 0 -0.83em 0 -0.46em, 0 -0.83em 0 -0.477em;
    }
    10%,
    59% {
      box-shadow: 0 -0.83em 0 -0.4em, -0.087em -0.825em 0 -0.42em, -0.173em -0.812em 0 -0.44em, -0.256em -0.789em 0 -0.46em, -0.297em -0.775em 0 -0.477em;
    }
    20% {
      box-shadow: 0 -0.83em 0 -0.4em, -0.338em -0.758em 0 -0.42em, -0.555em -0.617em 0 -0.44em, -0.671em -0.488em 0 -0.46em, -0.749em -0.34em 0 -0.477em;
    }
    38% {
      box-shadow: 0 -0.83em 0 -0.4em, -0.377em -0.74em 0 -0.42em, -0.645em -0.522em 0 -0.44em, -0.775em -0.297em 0 -0.46em, -0.82em -0.09em 0 -0.477em;
    }
    100% {
      box-shadow: 0 -0.83em 0 -0.4em, 0 -0.83em 0 -0.42em, 0 -0.83em 0 -0.44em, 0 -0.83em 0 -0.46em, 0 -0.83em 0 -0.477em;
    }
  }
  @keyframes load6 {
    0% {
      box-shadow: 0 -0.83em 0 -0.4em, 0 -0.83em 0 -0.42em, 0 -0.83em 0 -0.44em, 0 -0.83em 0 -0.46em, 0 -0.83em 0 -0.477em;
    }
    5%,
    95% {
      box-shadow: 0 -0.83em 0 -0.4em, 0 -0.83em 0 -0.42em, 0 -0.83em 0 -0.44em, 0 -0.83em 0 -0.46em, 0 -0.83em 0 -0.477em;
    }
    10%,
    59% {
      box-shadow: 0 -0.83em 0 -0.4em, -0.087em -0.825em 0 -0.42em, -0.173em -0.812em 0 -0.44em, -0.256em -0.789em 0 -0.46em, -0.297em -0.775em 0 -0.477em;
    }
    20% {
      box-shadow: 0 -0.83em 0 -0.4em, -0.338em -0.758em 0 -0.42em, -0.555em -0.617em 0 -0.44em, -0.671em -0.488em 0 -0.46em, -0.749em -0.34em 0 -0.477em;
    }
    38% {
      box-shadow: 0 -0.83em 0 -0.4em, -0.377em -0.74em 0 -0.42em, -0.645em -0.522em 0 -0.44em, -0.775em -0.297em 0 -0.46em, -0.82em -0.09em 0 -0.477em;
    }
    100% {
      box-shadow: 0 -0.83em 0 -0.4em, 0 -0.83em 0 -0.42em, 0 -0.83em 0 -0.44em, 0 -0.83em 0 -0.46em, 0 -0.83em 0 -0.477em;
    }
  }
  @-webkit-keyframes round {
    0% {
      -webkit-transform: rotate(0deg);
      transform: rotate(0deg);
    }
    100% {
      -webkit-transform: rotate(360deg);
      transform: rotate(360deg);
    }
  }
  @keyframes round {
    0% {
      -webkit-transform: rotate(0deg);
      transform: rotate(0deg);
    }
    100% {
      -webkit-transform: rotate(360deg);
      transform: rotate(360deg);
    }
  }
/* header start */
header {
    width: 100%;
    height: 83px;
    top: 0;
    left: 0;
    z-index: 50;
    padding-top: 26px;
    position: fixed;
    color: #fff;
    font-size: 1rem;
    font-weight: 400;
    background-color: #222223;
    border-bottom: 1px solid #ececec1a;
}
header h1 a {
    display: block;
}
header img {
    width: 37px;
}
header .contents {
    position: relative;
}
header .contents h1 {
    float: left;
    font-size: 1.4rem;
}
header .contents .web-nav ul {
    float: right;
    line-height: 37px;
}
header .contents .web-nav ul li {
    float: left;
    margin-right: 20px;
}
header .contents .web-nav ul li:last-child {
    margin-right: 0;
}
header .contents .web-nav ul li button,
header .contents .m-nav ul li button {
    color: #fff;
    background-color: transparent;
    border: 0;
}
header .contents .web-nav ul li button:hover {
    color: #16a085;
}
header .contents .m-wrap {
    display: none;
}
header .contents .m-nav {
    position: fixed;
    padding-top: 30px;
    width: 100%;
    height: 100%;
    top: 0;
    right: -100%;
    background-color: #171717;
    transition: all 1s;
}
header .contents .m-wrap img {
    width: 23px;
    position: absolute;
    top: 0;
    right: 0;
}
header .contents .m-wrap .close {
    left: 62%;
    top: 5%;
}
header .contents .m-nav ul {
    padding-top: 26px;
}
header .contents .m-nav ul li {
    width: 100%;
    height: 40px;
    padding-left: 30px;
    line-height: 40px;
    font-weight: 400;
    border-bottom: 1px solid #ececec1a;
}
header .contents .m-wrap .m-back {
    display: none;
    width: 100%;
    height: 100%;
    position: fixed;
    z-index: 1;
    top: 0;
    right: -100%;
    background-color: #000000cf;
    transition: all 1s;
}
/* active */
header.active {
    color: #fff;
    border-bottom: 0;
    background-color: #222223;
}
header .contents .m-nav.active {
    right: -12vh;
}
header .contents .close.active {
    right: 0;
}
header .contents .m-wrap .m-back.active  {
    right: 0;
}
nav ul li a.active {
    color: #16a085;
}
/* media */
@media only screen and (max-width:1024px) {
    html { font-size: 90% !important;}
}
@media only screen and (max-width:768px) {
    html { font-size: 80% !important;}
    header img {width: 33px;}
}
@media only screen and (max-width:480px) {
    html {font-size: 70% !important;}
    header img {width: 28px;}
    header .contents .m-wrap { display: block;}
    header .contents .web-nav { display: none; }
    header .contents .m-wrap .m-back { display: block; }
}
@media only screen and (max-width:320px) {
    html { font-size: 66.6% !important; }
}
