/* common */
section {
    width: 100%;
    padding-bottom: 80px;
}
section > .contents, footer > .contents {
    width: 80%;
    margin: 0 auto;
}
.more-btn {
    display: block;
    width: 130px;
    height: 40px;
    font-size: 0.9rem;
    text-align: center;
    line-height: 40px;
    border-radius: 5px;
    color: #fff;
    background-color: #16a085;
    font-family: 'NotoSansCJKkr-Regular';
}
.more-btn:hover {
    border: 2px solid #16a085;
    background-color: transparent;
}
.top {
    padding-top: 80px;
    padding-bottom: 80px;
}
.top h2 {
    font-size: 1.6rem;
    text-align: center;
    font-family: 'NotoSansCJKkr-Bold';
}
.top p {
    color: #909090;
    margin-top: 20px;
    text-align: center;
    font-size: 1rem;
    font-family: 'NotoSansCJKkr-Regular';
}
/* header start */
header {
    width: 100%;
    padding-top: 100px;
    height: 50vh;
    background-color: #222223;
}
header .text-ani {
   width: 25%;
   min-width: 400px;
   height: 45px;
   position: relative;
   overflow: hidden;
   top: 0;
   left: 50%;
   transform: translateX(-50%);
}
header .text-ani h1 {
    position: absolute;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
    font-size: 3rem;
    color: #ecf0f1;
    font-family: 'NotoSansCJKkr-Bold';
}
header .text-ani ul {
    width: 60%;
    /* height: 100%; */
    /* overflow: hidden; */
    position: absolute;
    top: 50%;
    right: 0;
    transform: translateY(-50%);
}
header .text-ani ul::before, header .text-ani ul::after {
    content: "[";
    display: inline-block;
    position: absolute;
    top: 50%;
    left: 0;
    transform: translate(0, -50%);
    color: #16a085;
    font-size: 42px;
    line-height: 48px;
/* animation */
    -webkit-animation-name: opacity;
      -webkit-animation-duration: 2s;
      -webkit-animation-iteration-count: infinite;
      animation-name: opacity;
      animation-duration: 2s;
      animation-iteration-count: infinite;
}
header .text-ani ul::after {
    content: "]";
    left: initial;
    right: 0;
}
header .text-ani ul li {
    font-size: 3rem;
    text-align: center;
    line-height: 1;
    color: #ecf0f1;
    /* animation */
    animation-name: change;
    animation-duration: 10s;
    animation-iteration-count: infinite;
}
header p {
    text-align: center;
    font-size: 1.2rem;
    width: 55%;
    margin: 0 auto;
    margin-top: 38px;
    margin-bottom: 30px;
    line-height: 29px;
    color: #ecf0f1;
}
header > .more-btn {
    margin: 0 auto;
}

@keyframes opacity {
    0%, 100% {opacity:0;}
    50% {opacity:1;}
}
@keyframes change {
    0%, 60%, 100% {transform:translate(0,100%);}
    16%, 50%, 70%, 90% {transform:translate(0,0%);}
    33.33%, 80% {transform:translate(0,-100%);}
}
/* section1 start */
.section1 {
    padding-bottom: 0;
}
.section1 .contents ul {
    margin: 50px 0; 
}
.section1 .contents ul li {
    width: 23.5%;
    margin-right: 2%;
    float: left;
    position: relative;
    padding-top: 18%;
}
.section1  .contents ul li:last-child {
    margin-right: 0;
}
.section1  .contents ul li a {
    display: inline-block;
    width: 100%;
    height: 100%;
    position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background-size: cover;
	background-position: center;
    background-repeat: no-repeat;
    background-image: url('../img/shutterstock_129310280.jpg');
}
.section1  .contents ul li a .back {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #00000082;
}
.section1  .contents ul li:nth-child(1) a {
    background-image: url('../img/shutterstock_129310280.jpg');
} 
.section1  .contents ul li:nth-child(2) a {
    background-image: url('../img/shutterstock_170076830.jpg');
} 
.section1  .contents ul li:nth-child(3) a {
    background-image: url('../img/shutterstock_45024721.jpg');
}
.section1  .contents ul li a .text {
    width: 100%;
    height: 100%;
    position: relative;
}
.section1  .contents ul li a .text p {
    color: #ecf0f1;
    font-size: 1.5rem;
    position: absolute;
    z-index: 1;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}
.section1  .contents ul li a:hover p {
    display: none;
}
.section1  .contents ul li a:hover .plus-line span {
    width: 100%;
}
.section1  .contents ul li a:hover .plus-line span:first-child  { 
    transform-origin: bottom;
    transition: all .2s ease-out;
    -webkit-transition: all .2s ease-out;
}
.section1  .contents ul li a:hover .plus-line span:last-child { 
    transform-origin: center;
    transition: all .2s ease-out 0.1s;
    -webkit-transition: all .2s ease-out 0.1s;
}
.plus-line {
    position: absolute;
    width: 30px;
    height: 30px;
    top: 50%;
    left: 50%;
    z-index: 1;
    transform: translate(-50%,-50%);
}
.plus-line span {
    display: inline-block;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    width: 0;
    height: 2px;
    background-color: #16a085;
    border-radius: 2px;
}
.plus-line span:first-child {
    transform-origin: top;
    transition: all .2s ease-in 0.1s;
    -webkit-transition: all .2s ease-in 0.1s;
}
.plus-line span:last-child {
    left: -1%;
    transform: rotate(90deg);   
    transform-origin: left;
    transition: all .2s ease-in;
    -webkit-transition: all .2s ease-in;
}
/* section2 start */
.section2 {
    background-color: #fff;
}
.section2 .contents .wrap {
    width: 100%;
}
.section2 .contents .wrap .col-1 {
    width: 50%;
    float: left;
    margin-right: 80px;
}
.section2 .contents .wrap .col-1 p {
    line-height: 1.6;
    font-size: 1.1rem;
    font-family: 'NotoSansCJKkr-Medium';
}
.section2 .contents .wrap .col-1 p:last-child {
    margin-top: 40px;
}
.section2 .contents .wrap .col-2 {
    width: 40%;
    float: left;
}
.section2 .contents .wrap .col-2 ul li {
    margin-bottom: 40px;
}
.section2 .contents .wrap .col-2 .text-wrap {
    width: 100%;
    margin-bottom: 10px;
}
.section2 .contents .wrap .col-2 .text-wrap span {
    font-family: 'NotoSansCJKkr-Regular';
    font-size: 0.9rem;
}
.section2 .contents .wrap .col-2 .text-wrap span:first-child{
    float: left;
}
.section2 .contents .wrap .col-2 .text-wrap span:last-child{
    width: 13%;
    float: right;
}
.section2 .contents .wrap .col-2 .line-wrap {
    width: 100%;
    position: relative;
}
.section2 .contents .wrap .col-2 .line-wrap .line {
    position: absolute;
    top: 0;
    left: 0;
    width: 90%;
    height: 4px;
    border-radius: 2px;
    z-index: 1;
    background-color: #16a085;
}
.section2 .contents .wrap .col-2 li:nth-child(3) .line-wrap .line {
    width: 30%;
}
.section2 .contents .wrap .col-2 li:nth-child(5) .line-wrap .line {
    width: 80%;
}
.section2 .contents .wrap .col-2 li:nth-child(3) .text-wrap span:last-child {
    width: 73%;
}
.section2 .contents .wrap .col-2 li:nth-child(5) .text-wrap span:last-child {
    width: 23%;
}
.section2 .contents .wrap .col-2 .line-wrap .line-back {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 4px;
    border-radius: 2px;
    background-color: #dcdcdc;
}
/* section3 start */
.swiper-container {
    width: 100%;
    height: 100%;
}
.swiper-slide {
    position: relative;
    padding-top: 30%;
    background: #fff;
    /* Center slide text vertically */
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
}
.swiper-slide:nth-child(1) .img {
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-image: url('../img/project1.png')
}
.swiper-button-next, .swiper-button-prev {
    background-image: url('../img/arrow.png') !important ;
}
.swiper-button-next {
    -ms-transform: rotate(180deg);
    -webkit-transform: rotate(180deg); 
    transform: rotate(180deg);
}
/* section4 start */
.section4 {
    position: relative;
    padding-top: 13%;
}
.section4 .img-back {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-repeat: no-repeat;
    background-size: cover; 
    background-position: top;
    background-image: url('../img/back1.jpg');
}
.section4 .img-back .back {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #00000061;
}
.section4 .text-wrap {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}
.section4 .text-wrap h2 {
    margin-bottom: 30px;
    color: #fff;
    line-height: 1.4;
    font-size: 1.6rem;
    text-align: center;
    font-family: 'NotoSansCJKkr-Bold';
}
.section4 .text-wrap .btn {
    display: block;
    width: 130px;
    height: 40px;
    border-radius: 5px;
    color: #fff;
    line-height: 40px;
    font-size: 0.9rem;
    text-align: center;
    margin: 0 auto;
    background-color: #16a085;
    font-family: 'NotoSansCJKkr-Regular';
}
.section4 .text-wrap .btn:hover {
    color: #16a085;
    background-color: #fff;
}
/* section5 start */
.section5 {
    padding-top: 80px;
    background-color: #fff;
}
.section5 .contents .text-box {
    width: 38%;
    float: left;
    margin-right: 150px;
    margin-right: 67px;
}
.section5 .contents .text-box h2 {
    margin-bottom: 30px;
    font-size: 1.6rem;
    font-family: 'NotoSansCJKkr-Bold';
}
.section5 .contents .text-box p {
    color: #909090;
    font-size: 1rem;
    line-height: 1.6;
    font-family: 'NotoSansCJKkr-Regular';
}
.section5 .contents ul {
    float: right;
    width: 57%;
}
.section5 .contents ul li {
    width: 355px;
    padding: 50px 30px;
    float: left;
    border-radius: 5px;
    background-color: #bdbdbd36;
}
.section5 .contents ul li:first-child {
    margin-right: 50px;
}
.section5 .contents ul li img {
    display: block;
    margin: 0 auto;
    width: 60px;
    margin-bottom: 20px;
}
.section5 .contents ul li span {
    display: inherit;
    font-size: 1.2rem;
    text-align: center;
    font-family: 'NotoSansCJKkr-Medium';
}
.section5 .contents ul li p {
    line-height: 1.7;
    margin-top: 20px;
    font-size: 0.9rem;
    color: #909090;
    text-align: center;
    font-family: 'NotoSansCJKkr-Regular';
}
/* section6 start */
.section6 .contents ul {
    width: 100%;
}
.section6 .contents ul li {
    width: 32%;
    height: 167px;
    float: left;
    padding: 40px;
    margin-right: 26px;
    border-radius: 5px;
    background-color: #fff;
    box-shadow: 1px 0 13px rgba(0,1,1,0.1);
}
.section6 .contents ul li:last-child {
    margin-right: 0;
}
.section6 .contents ul li img {
    width: 40px;
    float: left;
}
.section6 .contents ul li .text-wrap {
    float: left;
    margin-left: 20px;
}
.section6 .contents ul li .text-wrap span {
    display: inherit;
    font-size: 1.2rem;
    text-align: left;
    color: #16a085;
    font-family: 'NotoSansCJKkr-Medium';
}
.section6 .contents ul li .text-wrap p {
    width: 288px;
    margin-top: 10px;
    font-family: 'NotoSansCJKkr-Regular';
    font-size: 0.9rem;
    color: #909090;
    line-height: 1.7;
}
/* section7 start */
.section7 {
    padding-bottom: 0;
}
.section7 .map {
    width: 100%;
    height: 50vh;
}
/* footer start */
footer {
    width: 100%;
    padding-top: 130px;
    padding-bottom: 130px;
    background-color: #292929;
}
footer .contents {
    position: relative;
}
footer .contents .sns-link {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}
footer .contents .sns-link li {
    float: left;
    margin-right: 20px;
}
footer .contents .sns-link li:last-child {
    margin-right: 0;
}
footer .contents img {
    width: 25px;
    opacity: 0.6;
}
footer  p {
    text-align: center;
    font-family: 'NotoSansCJKkr-Regular';
    font-size: 0.9rem;
    color: #9c9c9c;
    margin-top: 34px;
}