html, body {
    position: relative;
    height: 100%;
}
body {
    background: #eee;
    color:#000;
    margin: 0;
    padding: 0;
}
.home-btn {
    display: block;
    position: fixed;
    top: 30px;
    left: 30px;
    width: 50px;
    height: 50px;
    z-index: 888;
    border-radius: 50%;
    background-color: rgba(0, 0, 0, 0.24);
}
.home-btn img {
    width: 30px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}
.text-ani {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
	width: 100%;
    height: 100%;
    z-index: 9999;
    text-align: center;
	background-color: rgba(0, 0, 0, 0.89);
}
.text-ani .wrap {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.text-ani span{
    color: white;
    text-transform: uppercase;
    display: block;
}
.text-ani .text1{
    color: white;
    font-size: 60px;
    font-weight: 700;
    letter-spacing: 8px;
    margin-bottom: 20px;
    position: relative;
    animation: text 3s infinite;
}
.text-ani .text2{
    font-size: 25px;
    color: #16a085;
}
.text-ani .timer {
    margin: 0 auto;
    width: 100px;
    height: 100px;
    border-radius: 50%;
    line-height: 110px;
    text-align: center;
    color: #16a085;
    font-weight: 500;
    font-size: 5rem;
    margin-top: 9%;
    background-color: #424242;
}
@keyframes text{
    0%{
      color: back;
      margin-top: -40px;
    }
    30%{
      letter-spacing: 25px;
      margin-bottom: -40px;
    }
    85%{
      letter-spacing: 8px;
      margin-bottom: -40px;
    }
}
.swiper-container {
    width: 100%;
    height: 100%;
    margin-left: auto;
    margin-right: auto;
}
.swiper-slide {
    background: #fff;
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
}
.swiper-slide:nth-child(even) {
    background-color: #e8e8e869;
}
.swiper-pagination-bullet-active {
    background: #16a085 !important;
}
.swiper-container-vertical>.swiper-pagination-bullets .swiper-pagination-bullet {
    margin: 13px 0 !important;
    display: block;
}
.swiper-pagination-bullet {
    width: 12px !important;
    height: 12px !important;
}
.swiper-slide .wrap {
    width: 80%;
    margin: 0 auto;
}
.col-wrap {
    width: 100%;
}
.left-layout .col-1 {
    float: left;
    width: 60%;
}
.left-layout .col-2 {
    float: right;
    width: 40%;
    padding-top: 32px;
}
.right-layout .col-2 {
    float: left;
    width: 40%;
    padding-top: 32px;
}
.right-layout .col-1 {
    float: right;
    width: 60%;
}
h2 {
    padding-left: 90px;
    position: relative;
    font-size: 1.4rem;
    font-weight: 900;
    color: #424242;
}
.swiper-slide h2::after {
    display: block;
    position: absolute;
    bottom: -9px;
    left: 0;
    font-size: 3.4rem;
    font-weight: 900;
    color: #16a085; 
}
.swiper-slide:nth-child(1) h2::after {
    content: "01";
}
.swiper-slide:nth-child(2) h2::after {
    content: "02";
}
.swiper-slide:nth-child(3) h2::after {
    content: "03";
}
.swiper-slide:nth-child(4) h2::after {
    content: "04";
}
.swiper-slide:nth-child(5) h2::after {
    content: "05";
}
.swiper-slide:nth-child(6) h2::after {
    content: "06";
}
.col-2 ul {
    margin: 5% 0;
}
.col-2 ul li:first-child {
    margin-bottom: 1.9%;
}
.col-2 ul li {
    width: 100%;
    font-weight: 500;
    font-size: 1rem;
    text-align: left;
}
.col-2 ul li span {
    float: left;
    width: 20%;
}
.col-2 ul li .title {
    margin-right: 30px;
}
.main-text {
    line-height: 1.6;
    font-size: 1rem;
    font-weight: 300;
    margin-bottom: 4%;
}
.btn-wrap a {
    display: block;
    float: left;
    width: 100px;
    height: 45px;
    margin-bottom: 5%;
    font-size: 0.9rem;
    text-align: center;
    line-height: 45px;
    border-radius: 38px;
    color: #fff;
    background-color: #16a085;
    font-weight: 700;
}
.btn-wrap a:first-child {
    margin-right: 3%;
}
table {
    width: 100%;
    font-size: 1rem;
    font-weight: 300;
    text-align: left;
}
table thead {
    font-weight: 500;
    background-color: #f3f3f3;
}
.right-layout table thead {
    font-weight: 500;
    background-color: #e0e0e0;
}
table th {
    height: 40px;
    line-height: 40px;
}
table tr {
    height: 30px;
    line-height: 30px;
    border-bottom: 1px solid #f3f3f3;
}
.right-layout table tr {
    height: 30px;
    line-height: 30px;
    border-bottom: 1px solid #e0e0e0;
}
table td,
table th {
    padding-left: 3%;
}